<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Hello&nbsp;{{name}}!</h2>
        <p>Thank you for signing up to Personal Budget Website! I truly believe that this web application will help you to manage your daily budget.
        </p>
        <p> Please <a href="{{ url }}">click here to activate your account</a>.</p>
        <hr>
        <p>Regards,</p>
        <p>Admin Marcin from <a href="https://budget.marcin-wieczorek.profesjonalnyprogramista.pl">Personal Budget Website</a>
        </p>
    </body>
</html>

 
