<html>
  <head>
    <title>Thank you for signing up to Personal Budget Website!</title>
  </head>
  <body>
    <h2>Hello&nbsp;{{name}}!</h2>
    <p>Thank you for signing up to Personal Budget Website! I truly believe that this web application helps you to manage your daily budget.
    </p>
    <p> Please <a href="{{ url }}">click here to activate your account</a>.</p>
    <hr>
    <p>Regards,</p>
    <p>Admin Marcin from <a href="https://budget.marcin-wieczorek.profesjonalnyprogramista.pl">Personal Budget Website</a>
    </p>
  </body>
  </html>

 
