body{
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 20px;
    background-color: #0077b6;
    color: rgb(250, 250, 250);
}

.header-icon{
    height: 45px;
    width: 45px;
    margin: 0 20px;
    background-color: #0077b6;
}

li svg{
    height: 20px;
    width: 20px;
    color: white;
    margin-bottom: 3px;
    margin-left: 8px;
}

.current-website{
    border-radius: 5px;
}

.panel{
    background-color: #fdfeff;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-title{
    font-size: xx-large;
    padding-top: 10px;
    margin-top: 10px;
}

.input-data{
    margin: 5%;
    font-weight: 600;
}

.button{
    background-color: #0077b6;
    border-color: #0077b6;
}

.button:hover{
    box-shadow: 3px 3px  #caf0f8;
    background-color: #0096c7;
    transform: translateY(-0.1em);
}

.signup-button{
    background-color: #00b63d;
    border-color: #03921b;
}

.signup-button:hover{
    box-shadow: 3px 3px  #caf0f8;
    background-color: #8ddd75;
    transform: translateY(-0.1em);
}

.cancel-button{
    background-color: #888888;
    border-color: #777777;  
}

.already-registered{
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre;
    padding-top: 10px;
    margin: 5% 20%;
    font-size: 0.9rem;
    border-top: 1px solid rgb(190, 190, 190);
}

.link{
    text-decoration: none;
    color: #0077b6;
}

a:hover{
    font-weight: 700;
}

#mainNavbar{
    background-color: #0077b6;
}

.main-site-picture{
    margin: 40px 5px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.welcome-text{
    margin: 20px;
    text-align: justify; 
}

.table-title{
    font-size: xx-large;
    padding-top: 5px;
}

#togglePassword{
    cursor: pointer;
    z-index: 100;
    margin-left: -30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.275rem;
}

#password{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.flash-message {
    padding-top:20px;
}
.flash-message-info {
    color: #0077b6;
}
.flash-message-success {
    color: green;
}
.flash-message-warning {
    color: red;
}

.flash-validation-message{
    color: red;
    padding-top: 2px;
    font-weight: 400;
    font-size: small;
}

.remember-signin-checkbox{
    margin: 5% 5% 5% 7%;
}
