<html>
  <head>
    <title>Reset Password Request</title>
  </head>
  <body>
    <h2>Hello&nbsp;{{name}}!</h2>
    <p>We receive your reset password request.</p>
    <p>Please <a href="{{url}}">click here to reset your password</a>.</p>
    <br>
    <p>If you did not request password reset, just please ignore this email.</p>
    <hr>
    <p>Regards,</p>
    <p>Admin Marcin from <a href="https://budget.marcin-wieczorek.profesjonalnyprogramista.pl">Personal Budget Website</a>
    </p>
  </body>
</html>